{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <section class="bg-light p-3">
        <h1 class="text-center">Votre panier</h1>
    </section>

<div class="w-75 mt-5 mx-auto row">
    <table class="table table-hover text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>Produit</th>
                <th>Photo</th>
                <th>Prix</th>
                {# <th>Total</th> #}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for element in dataPanier %}

                <tr>
                    <td>{{ element.produit.marque.nom ~ ' ' ~ element.produit.modele }}</td>
                    <td><a href="{{ path('app_product', {'id': element.produit.id}) }}"><img src="{{ asset('images/produit/' ~ element.produit.photo1) }}" style="max-height: 50px; max-width: 50px;" alt="test"></a></td>
                    {% if element.produit.remise is empty %}
                    <td >{{ element.produit.prix }} €</td>
                    {% else %}
                    <td class="text-danger"><del class="text-dark">{{ element.produit.prix }} €</del><br>{{ element.produit.remise }} €</td>
                    {% endif %}
                    <td>
                        <a href="{{path("app_delete_panier", {id: element.produit.id})}}">
                            <i class="fas fa-trash mx-1 text-center text-danger" title="supprimer"></i>
                        </a>
                    </td>
                </tr> 
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="bg-primary text-white">
            <tr>
                <td colspan="2" class="text-end"><strong>Total :</strong></td>
                <td>{{ total }} €</td>
                <td>
                    <a href="{{path("app_delete_all_panier")}}">
                        <i class="fas fa-trash mx-1 text-center text-danger" title="supprimer"></i>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="row justify-content-between">
        <div class="col-md-6">
            <button href="" class="btn btn-primary" style="width: 100px;">Retour</button>
            {# route à mettre dans le button <a href="{{ path("app_all_products") }}"></a> #}
        </div>
        <div class="col-md-1">
            <button class="btn btn-success" style="width: 100px;"> <a href="{{ path("app_payer") }} "> Payer <a/> </button>
        </div>
    </div>
</div>

{% endblock %}
