{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div id="registerform">
        <div class="container-fluid col-md-4" id="register">

        <h2 class="text-center mt-5">Inscription</h2>

        {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.prenom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.nom) }}
                </div>
            </div>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

        <div class="container-fluid col-md-2">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
