{% extends 'base.html.twig' %}

{% block title %}Tous les produits{% endblock %}

{% block content %}




    {# <li class="nav-item col-md-2">
        <a class="nav-link text-dark" aria-current="page" href="'app_all_products'">Apple</a>
    </li>
    <li class="nav-item col-md-2">
        <a class="nav-link text-dark" href="'app_all_products'">Samsung</a>
    </li>
    <li class="nav-item col-md-2">
        <a class="nav-link text-dark" href="'app_all_products'">Huawei</a>
    </li>
    <li class="nav-item col-md-2">
        <a class="nav-link text-dark" href="'app_all_products'">Xiaomi</a>
    </li>
    <li class="nav-item col-md-2">
        <a class="nav-link text-dark" href="'app_all_products'">Honor</a>
    </li> #}

    {# <div class="nav-item col-md-2 m-2">
        <input type="submit" value="Recherche" class="btn btn-primary">
    </div> #}

    <h1 class="text-center mt-4">Tous les produits</h1>

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Filtrer les marques
    </button>

    <!-- Modal -->
    {{ form_start(form) }}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Marques</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        {{ form_row(form.marques) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <input type="submit" value="Recherche" class="btn btn-primary">
        </div>
        </div>
    </div>
    </div>
    {{ form_end(form) }}


    {# <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modele</th>
                <th>Couleur</th>
                <th>Taille</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Memoire</th>
                <th>Description</th>
                {# <th>actions</th> pour admin
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.marque.nom }}</td>
                <td>{{ produit.modele }}</td>
                <td>{{ produit.couleur }}</td>
                <td>{{ produit.taille }} pouces</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.photo1 }}</td>
                <td>{{ produit.memoire }}</td>
                <td>{{ produit.description }}</td>
                <td>
                    <a href="{{ path('app_product', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('app_update_product', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun élément trouvé</td>
                {# à ajuster avec flash 
            </tr>
        {% endfor %}
        </tbody>
    </table >#}

    <div class="row m-0 justify-content-around text-center">
        
        {% if produits is empty %}
            <div class="alert alert-danger">
                <p>cette categorie n'a pas d'articles pour le moment !</p>
            </div>
        {% else %}

        {% for produit in produits | reverse %}
        <div class="col-2 m-5 zoomIn">
            {% if produit.photo1 %}
            <img src="{{ asset('images/produit/' ~ produit.photo1) }}" class="card-img-top" alt="test">
            {% endif %}
            <div class="card-body">
                <div>
                    <a href="{{ path('app_update_product', {'id': produit.id}) }}"><i class="fas fa-edit mx-1 text-success"></i></a>
                </div>
                <h5 class="card-title" style="font-family:Anton;font-size">{{ produit.marque.nom }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Modèle : {{ produit.modele}}</h6>
                {% if produit.remise is empty %}
                <h6>{{ produit.prix }} €</h6>
                {% else %}
                <del>{{ produit.prix }} €</del>
                <h6 class="text-danger">{{ produit.remise }} €</h6>
                {% endif %}
                <a href="{{ path('app_product', {'id': produit.id}) }}" class="btn btn-primary card-link">Voir Produit</a>
            </div>
        </div>
        {% endfor %}

        {% endif %}

    </div>
{% endblock %}
