{% extends 'base.html.twig' %}

{% block title %}Tous les produits{% endblock %}

{% block content %}

<ul class="nav justify-content-center" id="navbar2">
    <li class="nav-item col-md-2">
        <a class="nav-link text-dark" aria-current="page" href="#">Apple</a>
    </li>
    <li class="nav-item col-md-2">
        <a class="nav-link text-dark" href="#">Samsung</a>
    </li>
    <li class="nav-item col-md-2">
        <a class="nav-link text-dark" href="#">Huawei</a>
    </li>
    <li class="nav-item col-md-2">
        <a class="nav-link text-dark" href="#">Xiaomi</a>
    </li>
    <li class="nav-item col-md-2">
        <a class="nav-link text-dark" href="#">Honor</a>
    </li>
</ul>

    <h1>Tous les produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modele</th>
                <th>Couleur</th>
                <th>Taille</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Memoire</th>
                <th>Description</th>
                {# <th>actions</th> pour admin#}
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.marque.nom }}</td>
                <td>{{ produit.modele }}</td>
                <td>{{ produit.couleur }}</td>
                <td>{{ produit.taille }} pouces</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.photo1 }}</td>
                <td>{{ produit.memoire }}</td>
                <td>{{ produit.description }}</td>
                <td>
                    <a href="{{ path('app_product', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('app_update_product', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun élément trouvé</td>
                {# à ajuster avec flash #}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_new_product') }}">Ajouter un nouveau produit</a>
{% endblock %}
