{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block content %}

    <a href="{{ path('app_all_products') }}" class="m-2"> < Retourner à la liste</a>
    <h1 class="text-center mt-5">{{ produit.marque.nom ~ ' ' ~ produit.modele }}</h1>

    <div class="container d-flex justify-content-center text-center mt-5">
        <div id="carouselExampleIndicators" class="carousel slide w-100">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img src="{{ asset('images/produit/' ~ produit.photo1 ) }}"class="d-block w-100 mt-5" alt="..."></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 4"><img src="{{ asset('images/produit/' ~ produit.photo2 ) }}" class="d-block w-100 mt-5" alt="..."></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"><img src="{{ asset('images/produit/' ~ produit.photo3 ) }}" class="d-block w-100 mt-5" alt="..."></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="{{ asset('images/produit/' ~ produit.photo1 ) }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="{{ asset('images/produit/' ~ produit.photo2 ) }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="{{ asset('images/produit/' ~ produit.photo3 ) }}" class="d-block w-100" alt="...">
        </div>
    </div>
    </div>
    <div class="card-body mt-5">


    <h2>{{ produit.marque.nom ~ ' ' ~ produit.modele }}</h2>
        <h6 class="text-muted">{{ produit.couleur }}</h6>
        <h6 class="text-muted">{{ produit.taille }} pouces</h6>
        <h6 class="text-muted">{{ produit.memoire }} Go</h6>
        <p>{{ produit.description}}</p>
        <h1>{{ produit.prix }} €</h1>
        <button type="submit" class="btn btn-primary mt-2">Ajouter au panier</button><br>
    <div class="mt-4">
    <a href="{{ path('app_update_product', {'id': produit.id}) }}"><i class="fas fa-edit mx-1 text-success"></i></a>
    <a href="{{ path('app_delete_product', {'id': produit.id}) }}" ><i class="fas fa-trash mx-1 text-center text-danger" title="supprimer"></i></a>
    </div>
    </div>
    </div>

{% endblock %}
