{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block content %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ produit.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ produit.modele }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ produit.couleur }}</td>
            </tr>
            <tr>
                <th>Taille d'écran</th>
                <td>{{ produit.taille }} pouces</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }} €</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ produit.photo }}</td>
            </tr>
            <tr>
                <th>Memoire</th>
                <td>{{ produit.memoire }} Go</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_products') }}">back to list</a>

    <a href="{{ path('app_update_product', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
