


<nav class="navbar navbar-expand-lg bg-primary" >
    <div class="container-fluid">

    <a class="navbar-brand text-white">BestShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{{ path("app_home")}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path("app_all_products")}}">Nos produits</a>
                </li>

                {% if not is_granted("IS_AUTHENTICATED_FULLY") %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path("login") }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path("app_inscription")}}">Inscription</a>
                </li>

                {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profil</a>
                    <ul class="dropdown-menu bg-primary fadeInDown" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item text-white bg-primary" href="{{ path("app_profil") }}">Voir mon profil</a></li>
                        <li><a class="dropdown-item text-white bg-primary" href="{{ path("app_logout") }}">Déconnexion</a></li>
                    </ul>
                </li>

                {% endif %}


                {% if is_granted("IS_AUTHENTICATED_FULLY") and is_granted("ROLE_ADMIN") %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu bg-primary fadeInDown" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item text-white bg-primary" href="{{ path("app_new_product")}}">Ajouter un produit</a></li>
                        <li><a class="dropdown-item text-white bg-primary" href="{{ path("app_marque_new")}}">Ajouter une marque</a></li>
                        <li><a class="dropdown-item text-white bg-primary" href="{{ path("app_marque_index")}}">liste marques</a></li>
                        <li><a class="dropdown-item text-white bg-primary" href="{{ path("app_all_products")}}">liste produits</a></li>
                    </ul>
                </li>
                
                {% endif %}

            </ul>
            <ul class="navbar-nav">
                <div class="nav-item" id="panier">
                    <a class="nav-link text-white" href="{{ path("app_panier")}}"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg></a>
                </div>
            </ul>
    </div>
  </div>
</nav>


