{% extends 'base.html.twig' %}

{% block title %}Nos marques{% endblock %}

{% block content %}
    <center><h1>Nos marques:</h1>
<div class="row d-flex justify-content-center text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.nom }}</td>
                <td>
                    <a href="{{ path('app_marque_show', {'id': marque.id}) }}">voir</a>
                    <a href="{{ path('app_marque_edit', {'id': marque.id}) }}"><i class="fas fa-edit mx-1 text-success"></i></a>
                    <a href="{{ path('app_marque_delete', {'id': marque.id}) }}" ><i class="fas fa-trash mx-1 text-center text-danger" title="supprimer"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de données trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_marque_new') }}">Créer une nouvelle marque</a>
    </div>
{% endblock %}
